.social-media img{
    height: 20px;
    width: 22px;
}
html, body{
    height: 100%;
    margin: 0px;
}
.main{
    min-height: 100vh;
}
header img{
    height: 60px;
    width: 60px;
}
header,footer{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
}