#Img-Container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
}
.City-Img img{
    height: 150px;
    width: 150px;
    border-radius:25%;
    box-shadow: 10px 10px 10px gray;
}
.City-Img-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* float: left; */
    border-radius: 25%;
    margin-top:10px;
}
.City-Img-Container .alpha{
 display: none;
 border-radius: 25%;
 margin: auto;
}
.alpha{
    position:absolute;
    width: 150px;
    height: 150px;
    /* text-align: center; */
}
.City-Img-Container:hover .alpha{
    display: block;
    line-height: 150px;
    color: #f1f1f1;
    float: left;
    background-color: rgba(0,0,0,0.5);
    align-content:center;
    text-align: center;
}
.City-Img{
    display: block;
}
header{
    z-index: 2;
}
#search-img{
    display: flex;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
#search-img input{
    background-color: #f1f1f1;
    border-radius: 12px;
    width: 500px;
    padding: 10px;
    border: 1px solid transparent;
}
a{
    text-decoration: none;
    color: #000;
}

#view-more{
    text-align: center;
}
 .content{
     margin-top: 3%;
 }

 #search{
     z-index: 1;

 }

input:focus{
     outline: none;
 }

 #view-more button{
     font-size: 16px;
     font-family: 'Ubuntu',sans-serif;
     background-color: rgb(85, 85, 85);
     border-radius: 5px;
     padding: 10px;
 }
 #view-more a{
    color: white
 }
 
