.newimg{
    height: 250px;
    width: 250px;
}
.hotel-details{
    float: left;
}
.detail{
    margin: 4%;
    width: 40%;
    background-color: rgb(132,136,139);
}

.map{
    display: none;
}

.listview li{
    display: inline;
    margin-right: 2%;
}
.listview{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    
}
.listview a{
    text-decoration: none;
    color: black;
}
.main{
    margin-top: 6%;
}
a{
    text-decoration: none;
    color: #000;
}

#list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#list a{
    margin: 4%;
    width: 40%;
    background-color: rgb(132,136,139);
}

#list-view{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 20px;
}

.hotel-Img{
    height: 200px;
    width: 250px;
    float: left;
    margin-right: 2%;
}
.hotel-Details{
    padding: 2% 2%;
}
.List-Item{
    background-color: lightgrey;
    margin: 2% 5%;
    width: 40%;
    float: left;
    padding-top: 0;
}
.rad-blu-link{
    text-decoration: none;
    color: black;
}

.List-Item{
    background-color: rgb(196, 193, 193);
}

.List-Item:hover {
    background-color: rosybrown;
}